<div>
    <nav>
        <ul>
            <h3>{{blog.title}}</h3>
        </ul>
        <ul>
            <div>by {{blog.user.username}} on {{format_date blog.date_created}}</div>
        </ul>
    </nav>
    <div>
        <ul>
            <h4>{{blog.content}}</h4>
        </ul>
    </div>
    <div>
        <div>
            <strong>Comments</strong>
            <form id="add-comment">
                <label for="new-comment">Add Comment:</label>
                <input type="text" id="new-comment"/>
                {{log logged_in}}
                {{#if logged_in}}
                <button>Submit Comment</button>
                {{else}}
                <a href="/login">login to comment</a>
                {{/if}}
            </form>
        </div>
        {{#each blog.comments as |comment|}}
        <article>
            <nav>
                <ul>
                    <div>{{content}}</div>
                </ul>
            </nav>
            <div>
                by {{comment.user.username}} on {{format_date comment.date_created}}
            </div>
        </article>
        {{/each}}
    </div>
    <div id="hidden" class="{{blog.id}}">{{blog.id}}</div>
    <div class="hidden blogID" id="{{blog.id}}"></div>
    <div class="hidden userID" id="{{logged_in}}"></div>
</div>
<script src="/js/comment.js">
